:root {
    --primary-font: "Roboto";
    --primary-font-color: #434455;
    --logo-font: "Raleway";
    --logo-text-color-prefix: #4D5AE5;
    --logo-text-color-light: #F4F4FD;
    --logo-text-color-dark: #2E2F42;
    --header-background: #FFFFFF;
    --header-border: #E7E9FC;
    --dark-background: var(--logo-text-color-dark);
    --footer-text-color: var(--logo-text-color-light);
    --on-hover: #404BBF;
    --overlay: #3f51b5;
    --client-logo: #8E8F99;
    --dark: rgba(46, 47, 66, 0.7);
}

body {
    font-family: var(--primary-font);
    color: var(--primary-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.global {
    margin: 0;
    box-sizing: border-box;

}

.container {
    width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

.header {
    background-color: var(--header-background);
    border: 1px solid var(--header-border);
    max-width: 100%;
}

.header-element-container {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo-text {
    font-family: var(--logo-font);
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
}

.logo-text-prefix {
    color: var(--logo-text-color-prefix);
}

.logo-dark {
    background-color: var(--header-background);
    color: var(--logo-text-color-dark);
}

.logo-light {
    background-color: var(--footer-background);
    color: var(--logo-text-color-light);
}

.header-navigation-wrapper {
    display: flex;
    gap: 76px;
}

.header-navigation {
    display: flex;
    gap: 40px;
}

.header-text {
    color: var(--primary-font-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.header-address {
    color: var(--primary-font-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
}

.header-text:hover,
.header-text:active {
    color: var(--on-hover);
}

.address-container {
    display: flex;
    gap: 40px;
}

.list-item {
    list-style-type: none;
}

.footer-text {
    color: var(--footer-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    max-width: 264px;
}

.footer-card {
    background-color: var(--dark-background);
}

.footer-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    gap: 120px;
}

.banner {
    background-color: var(--dark-background);
    background-image: linear-gradient(var(--dark), var(--dark)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    padding-top: 188px;
    padding-bottom: 188px;
}

.banner-wrapper {
    max-width: 496px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-left: auto;
    margin-right: auto;
}

.banner-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    color: var(--header-background);
}

.main-order-service-btn {
    background-color: var(--logo-text-color-prefix);
    color: var(--header-background);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    height: 56px;
    width: 169px;
}

.main-order-service-btn:hover,
.main-order-service-btn:active {
    background-color: var(--header-border);
    color: var(--logo-text-color-prefix);
    cursor: pointer;
}

.main-features-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
    padding-top: 120px;
}

.main-features {
    display: flex;
    gap: 24px;
}

.main-feature-item {
    width: 264px;
}

.main-feature-title-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.main-feature-content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.main-pictures-container {
    display: flex;
    gap: 24px;
    padding-bottom: 120px;
}

.work-example-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 72px;
    text-align: center;
}

.main-team-wrapper {
    background-color: var(--footer-text-color);
    padding-bottom: 120px;
    padding-top: 120px;
}

.main-team-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    width: calc(4 * 264px + 3 * 24px);
}

.main-team-container .list-item {
    border-radius: 0 0 4px 4px;
    background-color: var(--header-background);
}

.main-person-data {
    padding: 32px 16px 8px;
    text-align: center;
}

.our-team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    padding-bottom: 72px;
    text-align: center;
}

.our-team-person-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 8px;
}

.our-team-person-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.portfolio-navigation-container {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

.portfolio-navigation-btn {
    background-color: var(--header-border);
    color: var(--logo-text-color-prefix);
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 12px 24px;
}

.portfolio-navigation-btn:hover,
.portfolio-navigation-btn:active {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.34), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
    color: var(--header-background);
    background-color: var(--on-hover);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-wrapper {
    padding-top: 96px;
    padding-bottom: 120px;
}


.card-container {
    border-bottom: 1px solid var(--header-border);
    border-left: 1px solid var(--header-border);
    border-right: 1px solid var(--header-border);
}

.card-aware {
    padding: 32px 16px;
}

.card:link {
    text-decoration: none;
}

.card-title {
    color: var(--logo-text-color-dark);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.card-desc {
    color: var(--logo-text-color-dark);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}




.current {
    color: var(--on-hover);
    padding-bottom: 25px;
    border-bottom: var(--on-hover) solid 4px;
}

.main-feature-logo {
    background-color: var(--logo-text-color-light);
    height: 112px;
    margin-bottom: 8px;
    position: relative;
}

.main-feature-logo-logo {
    position: absolute;
    top: 25%;
    right: 37%;
}

.our-team-social-networks {
    display: flex;
    gap: 24px;
    padding-bottom: 32px;
    justify-content: center;
}

.our-team-social-network {
    position: relative;
    background-color: var(--logo-text-color-prefix);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    fill: var(--header-background);
}

.our-team-social-network:hover {
    background-color: var(--on-hover);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social-network-logo {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 30%;
    right: 30%;
}

.our-team-shadow,
.shadow-item:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
}

.our-customer-container {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-customers-backet {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.our-customer {
    position: relative;
    border: var(--client-logo) solid 1px;
    border-radius: 4px;
    height: 88px;
    width: 168px;
}

.our-customer-logo {
    position: absolute;
    top: 17%;
    right: 17%;
    fill: var(--client-logo);
}

.our-customers-title {
    text-align: center;
    padding-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.footer-social-networks {
    display: flex;
    gap: 24px;
    padding-bottom: 32px;
    justify-content: center;
}

.footer-social-network {
    position: relative;
    background-color: var(--logo-text-color-prefix);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    fill: var(--header-background);
}

.footer-social-network:hover {
    background-color: var(--on-hover);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-network-logo {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20%;
    right: 20%;
}

.footer-social {
    color: var(--footer-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 16px;
}

.decoration {
    position: relative;
    overflow: hidden;
}

.decoration:hover .overlay {
    transform: translateY(0);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
    color: var(--header-background);
    opacity: 0.7;

    transform: translateY(200%);
    transition: transform 250ms ease-in-out;
}

/* Modal */
.close-button {
position: absolute;
top: 24px;
right: 24px;

    background-color: var(--header-border);
    height: 24px;
    width: 24px;
    border-radius: 12px;
    border-color: var(--header-border);
    padding: 0;
}

.backdrop {
    position: fixed;
    inset: 0;
    background-color: var(--dark);
    backdrop-filter: 2px;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition: transform 1000ms;
    transition-property: opacity, visibility;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 408px;
    min-height: 584px;
    background-color: var(--header-background);
    border-radius: 4px;
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}